.create {
  color: white;
  background-color: #712b75;
  margin-right: 1rem;
  border-radius: 0.375rem !important;
}

.cancel {
  border-radius: 0.375rem !important;

  color: white;
  background-color: #6d5d6e;
}
