<app-card>
  <form [formGroup]="newTaskForm" (submit)="saveForm()">
    <input
      formControlName="title"
      type="text"
      id="title"
      class="form-control my-2"
      placeholder="Title"
    />
    <textarea
      class="form-control my-2"
      rows="3"
      formControlName="details"
      placeholder="details"
    ></textarea>

    <div class="btn-group">
      <button class="btn save" type="submit" (click)="storeTask()">
        {{ taskId !== null ? "Add" : "Create" }}
      </button>
      <button class="btn cancel" (click)="cancelForm()">Cancel</button>
    </div>
  </form>
</app-card>
