* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  padding-top: 60px;
  background-color: #393646 !important;
  color: white !important;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
